<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments.html :: head"></head>
<body class="bg-secondary">
<header th:insert="fragments.html :: mainHeader"></header>
<div class="container mt-sm-5 " style="width: 30%;">
    <div class="jumbotron jumbotron-liquid pt-3">
        <form th:action="@{/courses/{courseId}/lectures/test/add(courseId = ${currentCourse.getId()}, lectureId = ${currentLecture.getId()})}"
              method="post" th:object="${test}">

            <div class="form-group">
                <label for="name" style="color: #083A63;" th:text="#{course.name}"></label>
                <input type="text" th:field="*{name}" class="form-control"/>
                <small id="name" class="form-text text-muted" style="color: #083A63;" th:text="#{test.name.title}"></small>
            </div>

            <div class="form-group">
                <label for="description" style="color: #083A63;" th:text="#{description}"></label>
                <input type="text" th:field="*{description}" class="form-control"/>
                <small id="description" class="form-text text-muted" style="color: #083A63;" th:text="#{test.description.title}"></small>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-outline-success" data-toggle="tooltip bg-dark" data-placement="bottom" th:text="#{button.addTest}"></button>
                <button type="button" class="btn btn-outline-danger" onclick="javascript:history.back()" th:text="#{button.cancel}"></button>
            </div>
        </form>
    </div>
</div>

<div th:insert="fragments.html :: scripts"></div>
<footer th:insert="fragments.html :: footer"></footer>
</body>
</html>