<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments.html :: head"></head>
<body class="bg-secondary">
<header th:insert="fragments.html :: mainHeader"></header>
    <style th:insert="fragments.html :: rating-voted-style"></style>
<th:block th:if="${subscription!=null && !subscription.isVoted()}">
    <style th:insert="fragments.html :: rating-vote-style"></style>
</th:block>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card mt-4">
                    <div class="card-body">

                        <h3 class="card-title" style="text-transform: capitalize; color:#27A8CF;"
                            th:text="${currentCourse.name}"></h3>
                        <th:block th:if="${currentCourse.getPrice().equals(0.0)}">
                            <h4 th:text="#{freePrice}"></h4>
                        </th:block>
                        <th:block th:unless="${currentCourse.getPrice().equals(0.0)}">
                            <h4 th:text="#{price(${currentCourse.getPrice()})}"></h4>
                        </th:block>
                        <h6 th:text="#{teacher(${currentCourse.getCreator().login})}"></h6>

                        <label class="card-text h-25" th:text="#{subject(${currentCourse.getSubject()})}"></label>
                        <label th:if="${currentCourse.getCreator().equals(currentUser)}" class="card-text h-25" th:text="#{course.subscription.status(${currentCourse.getStatus()})}"></label>
                        <p class="card-text" th:text="${currentCourse.description}"></p>
                        <th:block th:if="${subscription!=null && !subscription.isVoted() && subscription.getStatus().equals('Finished')}">
                           <form th:action="@{/courses/{id}/vote(id=${currentCourse.getId()})}" method="post">
                               <div class="rating">
                                   <input type="radio" name="rating" value="5" id="5" checked><label for="5">☆</label>
                                   <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                   <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                   <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                   <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                               </div>
                               <button type="submit" class="btn btn-outline-success" data-toggle="tooltip bg-dark" data-placement="bottom" th:text="#{button.vote}"></button>
                           </form>

                        </th:block>
                        <th:block th:if="${(subscription!=null && (subscription.isVoted() || !subscription.getStatus().equals('Finished'))) || currentCourse.getCreator().equals(currentUser)}">
                            <div class="d-flex justify-content-left text-center">
                                <div class="ratings">
                                    <span class="product-rating" th:text="#{rate(${currentCourse.getRate()})}"></span>
                                    <div class="stars">
                                        <th:block th:each="i : ${#numbers.sequence(1, currentCourse.getRate(), 1)}">
                                            <i class="fa fa-star"></i>
                                        </th:block>
                                    </div>
                                    <div class="rating-text">
                                        <span th:text="#{numberOfVotes(${currentCourse.getNumberOfVotes()})}"></span>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                        <div class="mt-2">
                            <th:block th:if="${currentCourse.getCreator().equals(currentUser)}">
                                <a th:href="@{/courses/{id}/edit(id=${currentCourse.getId()})}"
                                   class="btn btn-primary" type="submit" th:text="#{button.editCourse}"></a>
                                <a th:href="@{/courses/{courseId}/lectures(courseId = ${currentCourse.getId()})}"
                                   class="btn btn-primary" type="submit" th:text="#{button.viewLectures}"></a>
                                <form method="POST" th:if="${currentCourse.getStatus().equals('Canceled')}" th:action="@{/courses/{id}/request(id = ${currentCourse.getId()})}">
                                    <button type="submit" name="submit" value="value" class="btn btn-primary" th:text="#{button.requestApprove}"></button>
                                </form>
                            </th:block>
                            <th:block th:if="${isSubscribed}">
                                <th:block th:if="${subscription.getStatus().equals('Subscribed')}">
                                    <a th:href="@{/courses/{id}/start(id = ${currentCourse.getId()})}"
                                       class="btn btn-primary" type="submit" th:text="#{button.startCourse}"></a>
                                </th:block>
                                <th:block th:if="${subscription.getStatus().equals('In progress')}">
                                    <a th:href="@{/courses/{courseId}/lectures(courseId = ${currentCourse.getId()})}"
                                       class="btn btn-primary" type="submit" th:text="#{button.viewLectures}"></a>
                                </th:block>
                                <p class="d-flex justify-content-between">
                                    <label class="card-text" th:text="#{course.subscription.status(${subscription.getStatus()})}"> </label>
                                    <label class="card-text"
                                           th:text="#{course.subscription.mark(${subscription.getCurrentMark()}, ${overallMark})}"> </label>
                                </p>
                            </th:block>
                            <th:block th:if="${!isSubscribed && !currentCourse.getCreator().equals(currentUser)}">
                                <th:block th:if="${currentCourse.getPrice().equals(0.0)}">
                                    <form method="POST" th:action="@{/courses/subscribe(courseId=${currentCourse.getId()},userId = ${currentUser.getId()})}">
                                        <button type="submit" name="submit" value="value" class="btn btn-primary" th:text="#{button.subscribe}"></button>
                                    </form>
                                </th:block>
                                <th:block th:unless="${currentCourse.getPrice().equals(0.0)}">
                                    <form method="POST" th:action="@{/pay(courseId=${currentCourse.getId()},price = ${currentCourse.getPrice()})}">
                                        <button type="submit" name="submit" value="value" class="btn btn-primary" th:text="#{button.buy}"></button>
                                    </form>
                                </th:block>
                            </th:block>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments.html :: scripts"></div>
<footer th:insert="fragments.html :: footer"></footer>
</body>
</html>