<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments.html :: head"></head>
<body class="bg-secondary">
<th:block sec:authorize="hasRole('ROLE_USER')">
    <header th:insert="fragments.html :: mainHeader"></header>
</th:block>
<th:block sec:authorize="hasRole('ROLE_MANAGER')">
    <header th:insert="fragments.html :: mainHeaderManager"></header>
</th:block>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="card mb-4">
                <div class="card-body">
                    <h1 class="my-4 text-center" th:text="${currentCourse.getName()}"></h1>
                </div>
            </div>
            <th:block th:if="${currentCourse.getCreator().equals(currentUser)}">
            <a th:href="@{/courses/{courseId}/lectures/add(courseId=${currentCourse.getId()})}"
               class="btn btn-primary" type="submit" th:text="#{button.addLecture}"></a>
            </th:block>
            <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/courses/{id}(id=${currentCourse.getId()})}" class="btn btn-primary" type="submit"
               th:text="#{button.back}"></a>
            <a sec:authorize="hasRole('ROLE_MANAGER')" th:href="@{/manage/courses/{id}(id=${currentCourse.getId()})}" class="btn btn-primary" type="submit"
               th:text="#{button.back}"></a>
            <br><br>

            <div class="card mb-4" th:each="lecture : ${lecturePage.content}">
                <div class="card-body">
                    <h2 class="card-title" th:text="${lecture.getName()}"></h2>
                    <a th:href="@{/courses/{courseId}/lectures/{position}(courseId=${currentCourse.getId()}, position=${lecture.getPosition()})}"
                       class="btn btn-primary" type="submit" th:text="#{button.readLecture}"></a>
                </div>
                <div class="card-footer text-muted" th:text="${lecture.getPosition()}">
                </div>
            </div>

        </div>
    </div>
    <div class="row" th:if="${lecturePage.totalPages > 1}">
        <div class="col-lg-12 d-flex justify-content-center">
            <nav>
                <ul class="pagination">
                    <li th:each="pageNumber : ${pageNumbers}" class="page-item"
                        th:classappend="${pageNumber == lecturePage.number + 1} ?  active">
                        <th:block th:if="${pageNumber == lecturePage.number + 1}">
                                 <span class="page-link" th:text="${pageNumber}">
                                    <span class="sr-only">(current)</span>
                                 </span>
                        </th:block>
                        <th:block th:unless="${pageNumber == lecturePage.number + 1}">
                            <a class="page-link"
                               th:href="@{/courses/{courseId}/lectures(courseId=${currentCourse.getId()}, page=${pageNumber})}"
                               th:text="${pageNumber}">1</a>
                        </th:block>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <br>
</div>
<div th:insert="fragments.html :: scripts"></div>
<footer th:insert="fragments.html :: footer"></footer>
</body>
</html>